<div class="layout" [dir]="'dir' | translate">
  <!-- start header -->
  <div class="header">
    <nav class="navbar navbar-expand-lg py-0 fixed-top">
      <div class="container">
        <a class="navbar-brand m-0" href="#"
          ><img src="../assets/images/logo/logo.png" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmain"
          aria-controls="navmain"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa-solid fa-bars-staggered"></i>
        </button>
        <div class="collapse navbar-collapse text-center" id="navmain">
          <ul class="navbar-nav m-auto links">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">{{
                "links.home" | translate
              }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{{
                "links.whoAreWe" | translate
              }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{{
                "links.ourMessage" | translate
              }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{{
                "links.services" | translate
              }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{{
                "links.successPartners" | translate
              }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{{
                "links.contactUs" | translate
              }}</a>
            </li>
          </ul>
          <div class="position-relative select-lang my-3 mx-auto m-lg-0">
            <i class="fa-solid fa-language position-absolute"></i>
            <select name="" id="" (change)="translate($event)">
              <option value="ar">
                <i class="fa-solid fa-language"></i>
                العربية
              </option>
              <option value="en">
                <i class="fa-solid fa-language"></i>
                English
              </option>
            </select>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- end header -->
  <!-- start who are us -->

  <div class="whoAre d-flex align-items-center">
    <div class="container">
      <div class="row align-items-center flex-column-reverse flex-lg-row">
        <div class="col-lg-7 col-12 item-text">
          <span class="mx-auto mx-lg-0">{{
            "whoAre.titleText" | translate
          }}</span>
          <p>{{ "whoAre.descriptionText" | translate }}</p>
          <a
            href="../assets/pdf-profile/profile.pdf"
            class="btn d-block mx-auto my-3 m-lg-0"
          >
            {{ "whoAre.btnProfile" | translate }}
          </a>
        </div>
        <div class="col-lg-5 col-12 text-center">
          <img
            class="mw-100"
            src="../assets/images/who are/Wavy_F&D-01_Single-01_prev_ui.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <!-- end who are us -->
  <!-- start ourMessage -->
  <div class="our-message my-5">
    <div class="heading-title">
      {{ "hedingTitle.titleMessage" | translate }}
    </div>
    <div class="container our-content">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card card-eyes">
            <i class="fa-regular fa-eye"></i>
            <h2>{{ "ourVision.titleVision" | translate }}</h2>
            <p>{{ "ourVision.descriptionVision" | translate }}</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card card-message">
            <i class="fa-solid fa-comment-dots"></i>
            <h2>{{ "ourMessage.titleMessage" | translate }}</h2>
            <p>{{ "ourMessage.descriptionMessage" | translate }}</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card card-value">
            <i class="fa-regular fa-gem"></i>
            <h2>{{ "ourValue.titleValue" | translate }}</h2>
            <p>{{ "ourValue.descriptionValue" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end ourMessage -->
</div>
